<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Email Template</title>
	<link href="/css/main.css" rel="stylesheet">
</head>
<body>

<table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
	<tbody>
	<tr th:if="${hasImageIcon}">
		<td align="start" valign="top" style="padding: 0 7px 0 0; width: 48px">
			<div class="circle">
				<p>MA</p>
			</div>
		</td>
	</tr>
	<tr>
		<td class="pc-fb-font" style="padding-bottom: 40px;" valign="top">
			<span></span>
		</td>
	</tr>
	<tr th:if-else>
		<td class="pc-fb-font" style="padding-bottom: 40px;" valign="top">
			<span class="company-initials" [style.background-color]="red" th:text="${companyInitial}" style="text-decoration: none; line-height: 32px; font-size: 24px; font-weight: 400; letter-spacing: 0; color: #32363a"></span>
		</td>
	</tr>
	<tr>
		<td class="pc-fb-font" style="padding-bottom: 40px;" valign="top">
			<span th:text="${messageTitle}" style="text-decoration: none; line-height: 32px; font-size: 24px; font-weight: 400; letter-spacing: 0; color: #32363a"></span>
		</td>
	</tr>
	<tr>
		<td class="pc-fb-font" style="text-decoration: none; line-height: 22px; font-size: 16px; font-weight: 400; letter-spacing: 0; color: #32363a" valign="top">
			<span th:text="${description}">Dear</span>
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>