<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Email Template</title>
	<link href="/css/main.css" rel="stylesheet">
</head>
<body>
<!--<div class="image-container">
	<img th:src="${icon}" alt="Image">
</div>-->
<table class="email-table">
	<tbody>
	<tr th:if="${hasImageIcon}">
		<td class="pc-fb-font email-td" valign="top">
			<img th:src="${icon}" alt="Image">
		</td>
	</tr>
	<tr>
		<td align="start" valign="top" class="email-td">
			<div class="circle">
				<p th:text="${companyInitial}"></p>
			</div>
		</td>
	</tr>
	<tr>
		<td class="pc-fb-font email-td" valign="top">
			<span th:text="${messageTitle}"></span>
		</td>
	</tr>
	<tr>
		<td class="pc-fb-font email-td" valign="top">
			<span th:text="${description}">Dear</span>
		</td>
	</tr>
	<tr>
		<td class="pc-fb-font email-td" valign="top">
			<span th:text="${adminActivate.sender}">Dear</span>
		</td>
	</tr>
	</tbody>
</table>

</body>
</html>