<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Email Template</title>
	<link href="/css/main.css" rel="stylesheet">
</head>
<body>

<table class="email-table">
	<tbody>
	<tr th:if="${hasImageIcon}">
		<td align="start" valign="top" class="email-td">
			<div class="circle">
				<p>MA</p>
			</div>
		</td>
	</tr>
	<tr>
		<td class="pc-fb-font email-td" valign="top">
			<span></span>
		</td>
	</tr>
	<tr th:if-else>
		<td class="pc-fb-font email-td" valign="top">
			<span class="company-initials" th:text="${companyInitial}"></span>
		</td>
	</tr>
	<tr>
		<td class="pc-fb-font email-td" valign="top">
			<span th:text="${messageTitle}"></span>
		</td>
	</tr>
	<tr>
		<td class="pc-fb-font email-td" valign="top">
			<span th:text="${description}">Dear</span>
		</td>
	</tr>
	</tbody>
</table>

</body>
</html>